# This file isn't a real way to check who actually maintains what but just
# a way for us to easily handle GitHub pull requests (in which we'd rather
# not deal with). Please check MAINTAINERS to see who actually maintains
# a certain part of the tree.

* 	@aristonl @FiReLScar
/.vscode	@FiReLScar
/Build	@FiReLScar
/docs	@aristonl

# Kernel Files
CPU/	@aristonl
Interrupts/	@FiReLScar
Memory/	@FiReLScar
drivers/cmos/	@aristonl
drivers/rtc/	@aristonl

/lib	@aristonl
/toolchain	@aristonl
