---
Language: Cpp
BasedOnStyle: WebKit
SpaceAfterTemplateKeyword: false
AccessModifierOffset: 4
AlignEscapedNewlines: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: True
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
BreakBeforeInheritanceComma: true
BreakBeforeInlineASMColon: Never
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
ColumnLimit: 80
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
NamespaceIndentation: All

