*.bin
*.o
*.so
*.img
*.iso
*.DS_Store
Build/ISO/inferno
.idea/
.vagrant/
*.log

# Makefiles
Makefile

build/

# Ninja Build files
build.ninja
rules.ninja
.ninja_deps
.ninja_log

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
