!Makefile
!LICENSE

*.o
*.ao
*.a
*.so
*.d

*.swo
*.swp
*.config
*.creator
*.creator.user
*.creator.user.*
*.files
*.includes
*.cflags
*.cxxflags
*.autosave

*.iso
*.elf
Hydra/Binaries/*.o

.DS_Store
.vim/

bootloader/

hbm