!Makefile
!LICENSE

*.o
*.ao
*.a
*.so
*.d

*.swo
*.swp
*.config
*.creator
*.creator.user
*.creator.user.*
*.files
*.includes
*.cflags
*.cxxflags
*.autosave

*.iso
*.elf
Build/Binaries/*
Build/qemu-720p-bootloader.efi


.DS_Store
.vim/

bootloader/

hbm